1.Explain the difference between mutable and immutable data types with examples ?

In [1]:
#1 Write a code to create a string with your name and print it?
a="abhishek gautam"
print(a)

abhishek gautam

In [2]:
#2 Write a code to find the length of the string "Hello World"?
a="Hello World"
print(len(a))

11

In [4]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"?
a="Python Programming"
b=a[0:3]
print(b)

Pyt

In [5]:
#4 Write a code to convert the string "hello" to uppercase?
a='hello'
print(a.upper())

HELLO

In [6]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?
a='I like apple'
b=a.replace("apple","orange")
print(b)

I like orange

In [7]:
#6 Write a code to create a list with numbers 1 to 5 and print it ?
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [10]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4] ?
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [11]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [12]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list=['a','b','c','d']
print(list[1])

b

In [13]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50] ?
a=[10,20,30,40,50]
b=a[::-1]
print(b)

[50, 40, 30, 20, 10]

In [14]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it ?
a=(100,200,300)
print(a)
type(a)

(100, 200, 300)

tuple

In [17]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
a=("red","green","blue","yellow")
b=a[-2]
print(b)

blue

In [18]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?
a=(10,20,5,15)
print(min(a))

5

In [20]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?
a=('dog','cat','rabbit')
print(a.index('cat'))

1

In [23]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it ?
a=("apple","kiwi","banana")
if("kiwi" in a):
  print("Kiwi is present")
else:
  print("kiwi is not present")

Kiwi is present

In [24]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it ?
set={'a','b','c'}
print(set)
type(set)

{'b', 'a', 'c'}

set

In [28]:
#17  Write a code to clear all elements from the set {1, 2, 3, 4, 5} ?
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [29]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}?
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [30]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5} ?
a={1,2,3}
b={3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

In [31]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4} ?
a={1,2,3}
b={2,3,4}
print(a&b)

{2, 3}

In [32]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?
my_dict={"name": "abhishek", "age": 23, "city": "mathura"}
print(my_dict)

{'name': 'abhishek', 'age': 23, 'city': 'mathura'}

In [33]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary name': 'John', 'age': 25} ?
a={"name": "john", "age": 25}
print(a)
a["Country"]="USA"
print(a)

{'name': 'john', 'age': 25}
{'name': 'john', 'age': 25, 'Country': 'USA'}

In [34]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?
a={'name': 'Alice','age': 30}
print(a["name"])

Alice

In [38]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
a={'name': 'Bob','age':22,'city':'New york'}
print(a)
a.pop("age")
print(a)

{'name': 'Bob', 'age': 22, 'city': 'New york'}
{'name': 'Bob', 'city': 'New york'}

In [39]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?
a={'name': 'Alice','city':'Paris'}
if("city" in a):
  print("City is Present")
else:
  print("City is not Present")

City is Present

In [41]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.?
a=[1,2,3,45]
b=(4,5,6,7)
c={"name": "abhishek", "age": 23}
print(a)
print(b)
print(c)

[1, 2, 3, 45]
(4, 5, 6, 7)
{'name': 'abhishek', 'age': 23}

In [45]:
#27 Write a code to create a list with strings and print the element at the third index ?
a=["apple", "banana", "mango", "orange", "kiwi"]
b=a[3]
print(b)

orange

In [52]:
#29 Write a code to combine two dictionaries into one and print the result ?
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [62]:
#30 Write a code to convert a list of strings into a set ?
# List of strings
fruits_list = ["apple", "banana", "mango", "apple"]

# Convert list to set
fruits_set = set(fruits_list)

print(fruits_set)

TypeError: 'set' object is not callable

In [63]:
# List of strings
fruits_list = ["apple", "banana", "mango", "apple"]

# Convert list to set
fruits_set = set(fruits_list)

print(fruits_set)

TypeError: 'set' object is not callable